
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']],
        processEscapes: true
      },
      TeX: {
        Macros: {
          diff: "{\\mathrm{d}}",
          Diff: "{\\mathrm{D}}",
          ln: "\\mathrm{ln}",
          cp: "c_{\\mathrm{p}}",
          cv: "c_{\\mathrm{v}}",
          pt: "\\partial",
          deg: "^{\\circ}",
          degc: "^{\\circ}\\mathrm{C}",
          var: "\\mathrm{Var}",
          cov: "\\mathrm{Cov}"
        },
        extensions: ["cancel.js"]
      },
      CommonHTML: {
      },
      SVG: {
        font: "STIX-Web",
        minScaleAdjust: 80,
      }
    });
    </script>
    <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
